<!DOCTYPE html>
<html>
  <head>
    <%- include('common-head', {}) %>
    <title><%= __('Create advertisement') %></title>
    <%- include('common-styles', {}) %>
    <link rel='stylesheet' href='/css/main.css' />
  </head>
  <body>
    <%- include('navbar', {}) %>
    <div class="container">
      
      <section class="advertisements-form">
        <h4><%= __('Create an Advertisement!') %></h4>
        <form action="" novalidate="novalidate" id="form">
          <div class="row">
          
            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="name"><%= __('Name') %></label>
                <input type="text" class="form-control" id="name" name="name" placeholder="<%= __('e.g.') %> Bici">
              </div>
              <div class="tags-list">
                <div class="ui-status empty">
                    <%= __('There is no tags') %>
                </div>
                <div class="ui-status error">
                    <%= __('Oops... This is embarasing, there has been an error') %>
                </div>
                <div class="ui-status loading">
                    <%= __('Loading...')%>
                </div>
                <div class="ui-status ideal"></div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="price"><%= __('Price') %></label>
                <input type="number" class="form-control" id="price" name="price" placeholder="<%= __('e.g.') %> 230">
              </div>
              <div class="form-group">
                <label for="photo"><%= __('Photo') %></label>
                <input type="file" class="" id="photo" name="photo" placeholder="<%= __('e.g.') %> 230">
              </div>

              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input type="radio" name="isSale" value="true" checked> <%= __('On Sale!') %>
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="checkbox">
                  <label>
                    <input type="radio" name="isSale" value="false"> <%= __('Wanted!') %>
                  </label>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <button type="button" class="btn btn-primary" id="create-button"><%= __('Create') %></button>
            </div>
          </div>
        </form>
      </section>
      
    </div>
    <script src="javascripts/create.js"></script>
    <%- include('common-js', {}) %>
  </body>
</html>
